.card-form-question__repeatable {
  margin-bottom:20px;}
  
.card-panel {
  padding:10px;
  background:$aperta-grey-xlight;
  border-left:10px solid $aperta-grey-xlight;}

.card-panel:hover {
  background:$aperta-grey-lighter;
  border-left:10px solid $aperta-green;
  cursor: move;}

.card-panel__header .delete {
  color:$aperta-grey;
  border:0;
  background:transparent;}

.card-panel__header .delete:hover,
.card-panel__header .delete:focus {
  color:$aperta-green;}

.card-button-link {
  color:$aperta-green;}

.card-button-link .card-is-disabled {
  color:$aperta-grey; }
  
.card-button-link:hover {
  color:$aperta-green;
  font-style:underline;
  line-height:20px;}
